# Modelos serializados grandes
notebooks/models/*.pkl
notebooks/models/*.joblib
notebooks/models/*.txt
!notebooks/models/.gitkeep

# Entorno
.venv/
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# SO / editor
.DS_Store
Thumbs.db
.vscode/